<!-- moviesearch component template -->

<!-- Movie Search Bar -->
<form id="test" name="myForm" class="col-xs-12 form-group" ng-class="{'has-error has-feedback' : myForm.movieTitle.$touched && myForm.movieTitle.$invalid}">
    <div class="input-group search-bar">
        <input class="form-control" type="text" ng-model="$ctrl.movieTitle" name="movieTitle" placeholder="Enter full movie or TV show name" required>
        <span class="input-group-btn">
            <button class="btn btn-secondary glyphicon-color" type="button" ng-click="$ctrl.getMovieData($ctrl.movieTitle)">
                <span class="glyphicon glyphicon-search white-color"></span>
            </button>
        </span>
    </div>
    <div class="h6" ng-messages="myForm.movieTitle.$error" ng-show="myForm.movieTitle.$touched" role="alert">
        <div class="animated fadeIn" ng-message="required"><strong>You haven't entered anything yet!</strong></div>                      
    </div>
</form>

<!-- Display Movie Results -->
 <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-4" ng-repeat="movieInfo in $ctrl.movieInfoResults">
    <div class="panel-height panel panel-info">
        <div class="panel-heading">
            <span>{{movieInfo.Title}}</span>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <!-- Displays a "No Picture" image if we aren't able to pull a poster from the OMDB API -->
                <object class="resize-image" data="{{movieInfo.Poster}}" type="image/png">
                    <img class="resize-image" src="/app/img/nopicture.gif">
                </object>
            </div>
            <div>
                <p class="text-center">Filmed in {{movieInfo.Year}}</p>
            </div>
            <div class="text-center">
                <a href="http://www.imdb.com/title/{{movieInfo.imdbID}}">Click Here to view on IMDB</a>
            </div>
            <div class="text-center">
                <button ui-sref="moviesearch.details({imdbID:'{{movieInfo.imdbID}}'})" class=" btn btn-primary" type="button">More Info</button>
            </div>
        </div>     
    </div> 
</div>

<!--  code reviewed by John Abanto, Tristan and Jesse -->